<!doctype html>
<head>
    <meta charset="utf-8"/>
</head>
<body>
    <form action="/auth/register" method="post">
        <div>
            <input type="text" name="name" placeholder="이름"><br/>
            <input type="text" name="id" placeholder="ID"><br/>
            <input type="password" name="password" placeholder="password">
        </div>
        <button type="submit">회원가입</button>
    </form>
    <div style="color:red">
        <%if(locals.notice){%>
            <p><%= notice %></p>
        <%}%>
    </div>
</body>
</html>